---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Image } from "astro:assets";

// import News from "@/components/News.astro";
import SeoPage from "@/components/SeoPage.astro";
import batImage from "@/images/bats/R.darwinii.jpg";
---

<BaseLayout>
  <SeoPage slot="head" />

  <div class="py-16 text-center sm:py-16">
    <div class="mx-auto max-w-4xl px-4">
      <h1 class="text-4xl font-bold tracking-tight sm:text-6xl">
        Forging Ahead Anuran Conservation Through Artificial Intelligence
      </h1>

      <p class="mt-6 text-lg leading-8">
        AnuraNet is a collaborative expert network that promotes the development of vanguard techniques for acoustic monitoring of anurans and citizen-science. Our diverse community of researchers, technologists and conservationists that rise from Iberoamerican collaboration aims to foster and spread the tools key for enhancing our knowledge about anuran populations and their global trends.  
      </p>

      <div class="mt-10 flex items-center justify-center gap-x-6">
        <a
          href="/contact/membership"
          class="rounded-md border border-transparent bg-zinc-900 px-4 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-zinc-700 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-zinc-900"
        >
          Become a Member
        </a>
        <a href="/about/mission" class="text-sm leading-6 font-semibold">
          Learn more <span aria-hidden="true">→</span>
        </a>
      </div>

      <div class="mt-10">
        <Image
          src={batImage}
          alt="Rhinoderma darwinii"
          class="w-full rounded-md object-cover ring-1 ring-zinc-900/10"
        />
      </div>
      <p class="mt-2 text-xs text-gray-500 italic">Placeholder image</p>
    </div>
  </div>
</BaseLayout>
