---
import { NAV_LINKS, SITE } from "@/siteConfig.ts";
import { NavMenu } from "@/components/NavMenu.tsx";
import { Image } from "astro:assets";
import logo from "@/images/anuraworld.png";
---

<header
  class="relative z-10 mx-auto flex max-w-screen-lg flex-wrap items-center justify-between p-3 pb-8 font-sans sm:p-6"
>
  <a href={import.meta.env.BASE_URL} class="flex items-center gap-3">
    <Image 
      src={logo}
      alt="AnuraNet Logo" 
      width={64}
      height={64}
      class="h-14 w-14 sm:h-16 sm:w-16"
    />
    <span class="font-poppins text-3xl font-semibold text-emerald-600 sm:text-3xl">
  {SITE.title}
</span>
  </a>
  <nav>
    <NavMenu links={Object.values(NAV_LINKS)} client:load />
  </nav>
</header>